/*#lines { 
	margin-top: 5px;
	padding-right:5px;
    border-bottom: 17px double white; 
    border-top: 6px solid white; 
    content:"";
    height: 5px; 
    width:30px;
	float:right;
}*/

/*#detailsContainer
{
	padding-top:45px;
	width:200px;
	height:100%;
	background-color:#47a3da;
	float:right;
}*/

/*#lines { 
	margin-top: 5px;
	padding-right:5px;
    border-bottom: 17px double white; 
    border-top: 6px solid white; 
    content:"";
    height: 5px; 
    width:30px;
	float:right;
}*/

/*#detailsContainer
{
	padding-top:45px;
	width:200px;
	height:100%;
	background-color:#47a3da;
	float:right;
}*/